.flat-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    width: auto;
    overflow: auto;
    display: block;
}
.flat-table th {
    background-color: rgb(109, 161, 207);
    font-weight: normal;
    color: white;
    padding: 20px 30px;
    text-align: center;
}
.flat-table td {
    background-color: rgb(238, 238, 238);
    padding: 20px 30px;
    color: rgb(111, 111, 111);
}

table td.highlighted {
    background-color:#999;
}
